<template>
    <div class= "container text-light">
    
      <h3>{{ content }}</h3>


        <center><h3>Admin Panel</h3></center>
{{currentUser.roles}}
 <div class="form-price">
    <label for="exampleFormControlInput1">Id(only for change or remove )</label>
    <input v-model="id" type="Name" class="form-control" id="exampleFormControlInput1" placeholder="id" @change="getProductById()">

  </div>

  <div class="form-price">
    <label for="exampleFormControlInput1">Name</label>
    <input v-model="prod.name" type="Name" class="form-control" id="exampleFormControlInput1" placeholder="name" >
  </div>
  <div class="form-price">
    <label for="exampleFormControlInput1">Image</label>
    <input v-model="prod.image"  type="Name" class="form-control" id="exampleFormControlInput1" placeholder="image">
  </div>
   <div class="form-price">
    <label for="exampleFormControlInput1">category</label>
    <select v-model="prod.category" class="form-control" placeholder="category">
                 <option  disabled value="RPZ 17 1/9">Select a category</option>
                <option value="Phone">Phone</option>
                <option value="NoteBook">NoteBook</option>
                <option value="Computers">Computers</option>
                <option value="The tablet">The tablet</option>
            </select>
  </div>
    <div class="form-price">
    <label for="exampleFormControlInput1">price</label>
    <input v-model="prod.price"  type="Name" class="form-control" id="exampleFormControlInput1" placeholder="price">
  </div>

  <div class="form-price">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea v-model="prod.description"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="d-flex row d-flex">


  <div class="row mx-md-n5">
  <div class="col px-md-4"><div class="p-2"><button  v-on:click = "add()" type="button" class="btn btn-primary mb-2">Add</button></div></div>
  <div class="col px-md-4"><div class="p-2"><button v-on:click = "change(prod._id)" type="button" class="btn btn-primary mb-2">change</button></div></div>
  <div class="col px-md-4"><div class="p-2"><button v-on:click = "remove(prod._id)" type="button" class="btn btn-primary mb-2">Del</button></div></div>
  <div class="col px-md-4"><div class="p-2"><input type="button" class="btn btn-primary mb-2" value="Upload img" onclick="window.open('http://localhost:3000/')"></div></div>
</div>
  </div>
    </div>
    
</template>

<script>
import UserService from "../services/user.service";
import Api from '@/config/Api'
export default {
    name: "Admin",
     data: function() {
           return {
                search:"",
                 content: "",
                products: [],
                prod: {name:"", price:0, category:"", description:"",image:"",_id:""},
                id:0
           };
        },
          computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
      mounted() {
          if (this.currentUser.roles[0]!=="ROLE_ADMIN") {
      this.$router.push('/login');
    }
    console.log(this.currentUser.roles[0])
    UserService.getAdminBoard().then(
      (response) => {
        this.content = response.data;
        console.log(response.data)
      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
          }
    );
  },

        methods:{
          getProductById() {
            Api().get(`/products/`+this.id)
              .then((response) => {
                  console.log(response.data)
                  this.prod = response.data;
              })  

          },
          add: function(){
               Api().post(`/seeder/products`,{
                    name: this.prod.name,
                    price: this.prod.price,
                    category: this.prod.category,
                    description: this.prod.description,
                    image: this.prod.image

               })
              .then((response) => {
                  console.log(response.data)
                  this.reload();
              })       
},

 change: function(id){
                Api().put(`/seeder/products/`+ id  ,{
               name: this.prod.name,
                    price: this.prod.price,
                    category: this.prod.category,
                    description: this.prod.description,
                    image: this.prod.image,
                    _id: this.prod._id
                })
                .then((response) => {
                    console.log(response.data)
                    this.reload();
                })
 },
   changeValue: function(name){
                this.prod = this.products.find(elem => {
                    if(elem.name == name){
                        return elem
                    }
                });
                this.search = name
},
remove: function(id){
               Api().delete(`/seeder/products/`+ id  )
                .then((response) => {
                    console.log(response.data)
                    this.reload();
                })

      },
         reload: function(){
                Api().get(`/products/`).then((response) => {
                console.log(response.data)
                this.products = response.data;
                })
            }
        }
}
</script>